        <div class="nv-breadcrumb-area">

            <div class="nv-breadcrumb-title">Contact</div>
            <div class="nv-breadcrumb-image" data-bg-image="http://nuovi.wingartthemes.com/images/breadcrumb_img_3.jpg" style="background-image: url(&quot;http://nuovi.wingartthemes.com/images/breadcrumb_img_3.jpg&quot;);"></div>

            <div class="container">

                <div class="row">

                    <div class="col-xs-12">

                        <div class="nv-breadcrumb-container">

                            <h1>Contact</h1>

                            <ul class="nv-breadcrumb">

                                <li><a href="index.html">Home</a></li>
                                <li>Contact</li>

                            </ul>

                        </div><!--/ .nv-breadcrumb -->

                    </div>

                </div><!--/ .row -->

            </div><!--/ .container-->

        </div>





        <div class="nv-page-content-wrap">

            <div class="container">



                <section class="nv-section">

                    <div class="row">

                        <div class="col-xs-12">

                            <h6 class="nv-section-subtitle">Get In Touch</h6>
                            <h2 class="nv-section-title">Contact Info</h2>

                            <p class="nv-section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

                            <!-- - - - - - - - - - - - - - Contact Info - - - - - - - - - - - - - - - - -->

                            <div class="nv-info-blocks nv-type-1 nv-cols-3">

                                <!-- - - - - - - - - - - - - - Info Block - - - - - - - - - - - - - - - - -->

                                <div class="nv-info-block">

                                    <div class="nv-icon"><i class="fa fa-phone"></i></div>

                                    <div class="nv-info">

                                        <a href="tel:1234567689">+(123) 456 7890</a>

                                    </div><!--/ .nv-info -->

                                </div>

                                <!-- - - - - - - - - - - - - - End of Info Block - - - - - - - - - - - - - - - - -->
                                <!-- - - - - - - - - - - - - - Info Block - - - - - - - - - - - - - - - - -->

                                <div class="nv-info-block">

                                    <div class="nv-icon"><i class="fa fa-envelope-o"></i></div>

                                    <div class="nv-info">

                                        <a href="mailto:nuovi_agency@info.com">nuovi_agency@info.com</a>

                                    </div><!--/ .nv-info -->

                                </div>

                                <!-- - - - - - - - - - - - - - End of Info Block - - - - - - - - - - - - - - - - -->
                                <!-- - - - - - - - - - - - - - Info Block - - - - - - - - - - - - - - - - -->

                                <div class="nv-info-block">

                                    <div class="nv-icon"><i class="fa fa-map-marker"></i></div>

                                    <div class="nv-info">

                                        <p>1556, Broadway, New York, NY, 10120, USA</p>

                                    </div><!--/ .nv-info -->

                                </div>

                                <!-- - - - - - - - - - - - - - End of Info Block - - - - - - - - - - - - - - - - -->

                            </div>

                            <!-- - - - - - - - - - - - - - End of Contact Info - - - - - - - - - - - - - - - - -->

                        </div>

                    </div>

                </section>





                <section class="nv-section nv-size-small">

                    <div class="row">

                        <div class="col-xs-12">

                            <h6 class="nv-section-subtitle">Get in Touch</h6>
                            <h2 class="nv-section-title">Contact Form</h2>

                            <div class="row">



                                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">

                                    <div class="nv-limited-width-content">

                                        <!-- - - - - - - - - - - - - - Contact Form - - - - - - - - - - - - - - - - -->

                                        <form novalidate="" class="nv-contactform">

                                            <ul>

                                                <li class="row">

                                                    <div class="col-xs-12">

                                                        <input type="text" name="cf_name" placeholder="Name">

                                                    </div>

                                                </li>

                                                <li class="row">

                                                    <div class="col-xs-12">

                                                        <input type="email" name="cf_email" placeholder="Email">

                                                    </div>

                                                </li>

                                                <li class="row">

                                                    <div class="col-xs-12">

                                                        <input type="text" name="cf_subject" placeholder="Subject">

                                                    </div>

                                                </li>

                                                <li class="row">

                                                    <div class="col-xs-12">

                                                        <textarea name="cf_message" rows="3" placeholder="Message"></textarea>

                                                    </div>

                                                </li>

                                                <li class="row">

                                                    <div class="col-xs-12">

                                                        <button class="nv-btn nv-yellow">Submit</button>

                                                    </div>

                                                </li>

                                            </ul>

                                        </form>

                                        <!-- - - - - - - - - - - - - - End of Contact Form - - - - - - - - - - - - - - - - -->

                                    </div>

                                </div>

                            </div>





                        </div>

                    </div>

                </section>
            </div>
        </div>